:root {
  --primary-color: #4F46E5;
  --primary-hover-color: #453ECF;
  --primary-light: #EEF2FF;
  --grey-border:#f1f1f1;
  --grey-border-style: 1px solid var(--grey-border);
  --paragraph-color: #374151;
  --sub-title-color: #6B7280;
}

body {
  font-family: Manrope, sans-serif;
  font-size: 17px;
  line-height: 1.5;
}

p{
  color: var(--paragraph-color);
}

a {
  color: var(--primary-color);
}

.btn, .badge{
  border-radius: 40px;
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.btn{
  padding: 10px;
}

.project-tags{
  font-size: 14px;
}

.bold {
  font-weight: bold;
}

.coverParagraph {
  margin-top: 10em;
  color: #ffffff;
}

.btn {
  --bs-btn-padding-x: .95rem;
  --bs-btn-padding-y: 0.85rem;
}

.sticky-sm-top.scrolled {
  background-color: #fff !important;
  transition: background-color 200ms linear;
}

.d-flex.flex-wrap {
  padding-left: 30px;
  padding-right: 30px;
}

li>a:hover {
  border-color: #725ab1;
  border: 1px;
}

.nav-item {
  margin-right: 5px;
}

.socialMedia {
  padding-top: 6px;
}

.textEmphasis {
  color: var(--primary-color);
}

.textEmphasis2{
  color: var(--primary-color);
  font-weight: 100;
 }

.footer,
.sectionHeader {
  text-align: center;
}

.sectionHeader{
  padding-bottom: 10px;
}

.footer{
  font-size: .85rem;
}

.coverMsg {
  font-size: 3rem;
  color: white;
}

.profile {
  margin-right: 15px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
}

.text-slider-items {
  display: none;
}

@keyframes progress {
  from {
      width: 0;
  }
}

.progress-bar{
  background-color: var(--primary-color);
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: var(--primary-color);
  --bs-btn-border-color: var(--primary-color);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--primary-hover-color);
  --bs-btn-hover-border-color: var(--primary-hover-color);
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--primary-color);
  --bs-btn-active-border-color: var(--primary-hover-color);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: var(--primary-color);
  --bs-btn-disabled-border-color: var(--primary-color);
  --bs-btn-active-bg:var(--primary-color);
}

.btn-outline-primary {
  --bs-btn-color: var(--primary-color);
  --bs-btn-border-color: var(--primary-color);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--primary-color);
  --bs-btn-hover-border-color: var(--primary-color);
  --bs-btn-focus-shadow-rgb: 13, 110, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--primary-color);
  --bs-btn-active-border-color: var(--primary-color);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--primary-color);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: var(--primary-color);
  --bs-gradient: none;
}

.btn-outline-primary.btn.active{
  color:var(--primary-color);
  background-color: transparent;
}

.animated {
  animation: progress 1000ms ease-in 1;
}

.cover {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  color: black !important;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 10%, rgba(146, 139, 255, 0.35) 200%);
  border-bottom: var(--grey-border) 1px solid;
}

.header{
  padding-bottom: .5em;
}

.text-gray-500{
  color:var(--sub-title-color);
  font-weight: 400;
  font-size: 1.05em;
}

.service-ico>i {
  padding-top: .5em;
  color: var(--primary-color);
  font-size: 2em;
  display: inline-block;
  width: 100%;
  text-align: center;
}

.card-img-top {
  width: 100%;
  height: 200px; 
  object-fit: cover; 
}

.card {
  background: #EEF2FF;
  color: #6B7280;
  box-shadow: none !important;
  cursor: default;    
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 10px !important;
  transition: transform 0.3s;
}

.card:hover{
  border: 1px solid var(--primary-color);
}

.card-title {
  color: black;
}

.card-text{
  font-size: .9em;
  padding: 0 10px 10px 10px;
}

.icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.icon-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: #f8fafc;
}

.icon-circle i {
  font-size: 48px;
  color: rgb(79, 70, 229);
}

.nav-link {
  color: #000;
  font-weight: 500;
  font-size: 0.95rem;
}
.nav-link:hover{
  color: var(--primary-color);
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  opacity: 0.8;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  z-index: 200;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

#btn-back-to-top:hover {
  opacity: 0.9;
}

#btn-back-to-top i {
  font-size: 20px;
}

.small-middle-container{
	margin: auto;
	width: 60%;
}

.progress{
  margin-bottom: 30px;
}

.badge.tag {
  cursor: default;
}

.btn-close {
  outline: none;
  box-shadow: none;
  --bs-btn-close-focus-shadow: none;
}

.cards-wrapper {
  display: flex;
  justify-content: center;
}

.card img {
  max-width: 100%;
  max-height: 100%;
}

.card {
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
  border-radius: 0;
  min-height: 425px;
  border: 1px solid #eef2ff; 
  transition: border-color 0.3s ease; 
}

.center-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-inner {
  padding: 1em;
}

.carouselBtn {
  background-color: var(--primary-color);
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  opacity:.8;
}

@media (min-width: 768px) {
  .card img {
    height: 11em;
  }
}


.form-control:focus {
  box-shadow: none;
}

.intro-subtitle {
  font-size: 22px;
}

.page-funfact {
  padding: 100px 0;
  text-align: center;
  color: #fff;
  border-top:var(--grey-border) 1px solid;
  background-image: url("../images/bg6.jpg");
  background: linear-gradient(to bottom, rgb(113, 106, 247) , var(--primary-color) );
}


.portfolio .portfolio-item {
  margin-bottom: 30px;
  border-radius: 40px;
}

.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: rgba(34, 34, 34, 0.6);
  border-radius: 10px;
  border: #e2e2e2 1px solid;
}

.bg-primary{
  background-color: var(--primary-color) !important;
}

.bg-secondary{
  background-color: rgb(238 242 255) !important;
  color: var(--primary-color);
}

.portfolio .portfolio-wrap::before {
  content: "";
  background: rgba(0, 0, 0, 0.6);

  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.portfolio .portfolio-wrap img {
  transition: all ease-in-out 0.3s;
}

.portfolio .portfolio-wrap .portfolio-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 20px;
  cursor: pointer;
}

.portfolio .portfolio-wrap .portfolio-info h4 {
  font-size: 20px;
  color: #fff;
  font-weight: 600;
}

.portfolio .portfolio-wrap .portfolio-info p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.portfolio .portfolio-wrap:hover::before {
  opacity: 1;
}

.portfolio .portfolio-wrap:hover img {
  transform: scale(1.2);
}

.portfolio .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
}

.portfolio .asset-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: rgba(34, 34, 34, 0.6);
  border-radius: 10px;
  border: var(--grey-border) 1px solid;
}

.portfolio .asset-wrap::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.portfolio .asset-wrap img {
  transition: all ease-in-out 0.3s;
}

.portfolio .asset-wrap .portfolio-info h4 {
  font-size: 20px;
  color: #fff;
  font-weight: 600;
}

.portfolio .asset-wrap .portfolio-info p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.portfolio .asset-wrap:hover::before {
  opacity: 1;
}

.portfolio .asset-wrap:hover img {
  transform: scale(1.2);
}

.portfolio .asset-wrap:hover .portfolio-info {
  opacity: 1;
}

.portfolio-details {
  padding-top: 0;
}

.portfolio-details .portfolio-details-slider img {
  width: 100%;
}

.portfolio-details .portfolio-details-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #34b7a7;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #34b7a7;
}

.portfolio-details .portfolio-info {
  padding: 30px;
  box-shadow: 0px 0 30px rgba(34, 34, 34, 0.08);
}

.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.portfolio-details .portfolio-info ul li+li {
  margin-top: 10px;
}

.portfolio-details .portfolio-description {
  padding-top: 30px;
}

.portfolio-details .portfolio-description h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
  padding: 0;
}

.project-btns{
  display: flex;
  justify-content: space-between;
  
}
.project-btns button{
  margin: 0 10px; 
  width: 140px;
}

.alert-primary{
  background: linear-gradient(to bottom, #716AF7, var(--primary-color) );
  color: #fff;
  border:none;
  font-size: 16px;
  border-radius: 10px;

  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hidden{
  display: none;
}

.lightbox img {
  border-radius: 10px;
  box-shadow: 2px 2px 8px 1px rgba(22, 22, 26, 0.18) !important; 
  transition: all 0.3s ease-in-out; 
}

.navbar-brand{
  font-weight: bold;
  font-size: 1.2rem !important;
}

.navbar{
  border-bottom:#f1f1f1 1px solid;
}

.py-5{
  padding-bottom: 2.5rem !important;
}

.dropdown-item:hover {
  background-color: var(--grey-border);
  color: #000;
}

.dropdown-item.active {
  background-color: var(--primary-color);
  color: #fff;
}

.dropdown-item.active:hover {
  background-color: rgb(2, 82, 167);
  color: #fff;
}

.bg-body-tertiary{
  background: linear-gradient(to bottom, #fefeff, #f6f8fa);
  border-top: var(--grey-border) 1px solid;
  border-bottom: var(--grey-border) 1px solid;
}

.portfolio-container {
  min-height: 500px; 
  overflow: hidden;
  flex: 4;
  display: ruby;
  gap: 15px;
}

.fade-up {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeUp 0.5s ease-in-out forwards;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.filter-section {
  flex: 1; 
  padding-right: 20px; 
}

.container.portfolio{
  display: flex;
  flex-direction: row;
}

.portfolio-image-container {
  position: relative;
  display: inline-block;
  width: 100%; /* Ensure this matches your image size */
}

.portfolio-image {
  width: 100%; 
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2; 
  pointer-events: none; 
}
