body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

a {
  color: #4a69bb;
}

.btn, .badge{
  border-radius: 0;
}

.bold {
  font-weight: bold;
}

.coverParagraph {
  margin-top: 10em;
  color: #ffffff;
}

.btn {
  --bs-btn-padding-x: .95rem;
  --bs-btn-padding-y: 0.85rem;
}

.sticky-sm-top.scrolled {
  background-color: #fff !important;
  transition: background-color 200ms linear;
}

.d-flex.flex-wrap {
  padding-left: 30px;
  padding-right: 30px;
}

li>a:hover {
  border-color: #725ab1;
  border: 1px;
}

.nav-item {
  margin-right: 5px;
}

.socialMedia {
  padding-top: 6px;
}

.textEmphasis {
  color: #4a69bb;
}

/**/
.textEmphasis2{
  color: #4a69bb;
 }

.footer,
.sectionHeader {
  text-align: center;
}

.coverMsg {
  font-size: 3rem;
  color: white;
}

.profile {
  margin-right: 15px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
}

.text-slider-items {
  display: none;
}

@keyframes progress {
  from {
      width: 0;
  }
}

.progress-bar{
  background: linear-gradient(to right, rgb(101, 78, 163), rgb(74, 105, 187));
}


.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #4a69bb;
  --bs-btn-border-color: #4a69bb;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #364e8f;
  --bs-btn-hover-border-color: #364e8f;
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #4a69bb;
  --bs-btn-active-border-color: #364e8f;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #4a69bb;
  --bs-btn-disabled-border-color: #4a69bb;
}

.animated {
  animation: progress 1000ms ease-in 1;
}

.cover {
  /*background-image: url("../images/hero.jpg");*/
  background: linear-gradient(to right, rgb(101, 78, 163), rgb(74, 105, 187) );
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  color: white;
}

.service-ico>i {
  padding-top: .5em;
  color: #725ab1;
  font-size: 2em;
  display: inline-block;
  width: 100%;
  text-align: center;
}

.card-text {
  padding-left: 15px;
  padding-right: 15px;
  font-size: 16px;
}

.card-title {
  font-size: 1.3em;
}

.card {
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
  transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
  cursor: default;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  opacity: 0.8;
  width: 60px;
  z-index: 200;
  border-radius: 40px;
}

.small-middle-container{
	margin: auto;
	width: 60%;
}

.progress{
  margin-bottom: 30px;
}

.badge.tag {
  cursor: default;
}

.btn-close {
  outline: none;
  box-shadow: none;
  --bs-btn-close-focus-shadow: none;
}

.cards-wrapper {
  display: flex;
  justify-content: center;
}
.card img {
  max-width: 100%;
  max-height: 100%;
}
.card {
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
  border-radius: 0;
  min-height: 425px;
}
.center-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card:hover{
   transform: scale(1.04);
}

.carousel-inner {
  padding: 1em;
}

.carouselBtn {
  background-color: #4a69bb;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  opacity:.8;
}

@media (min-width: 768px) {
  .card img {
    height: 11em;
  }
}


.form-control:focus {
  box-shadow: none;
}

.intro-subtitle {
  font-size: 22px;
}

.page-funfact {
  padding: 100px 0;
  text-align: center;
  color: #fff;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.page-funfact {
  background-image: url("../images/bg6.jpg");
  background: linear-gradient(to right, rgb(101, 78, 163), rgb(74, 105, 187) );
}

.portfolio .portfolio-item {
  margin-bottom: 30px;
}

.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: rgba(34, 34, 34, 0.6);
  box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
}

.bg-primary{
  background-color: #4a69bb !important;
}

.portfolio .portfolio-wrap::before {
  content: "";
  background: linear-gradient(180deg, rgba(101, 78, 163, .7),rgba(74, 105, 187, 0.7),rgba(0,0,0,1));

  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.portfolio .portfolio-wrap img {
  transition: all ease-in-out 0.3s;
}

.portfolio .portfolio-wrap .portfolio-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 20px;
  cursor: pointer;
}

.portfolio .portfolio-wrap .portfolio-info h4 {
  font-size: 20px;
  color: #fff;
  font-weight: 600;
}

.portfolio .portfolio-wrap .portfolio-info p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.portfolio .portfolio-wrap:hover::before {
  opacity: 1;
}

.portfolio .portfolio-wrap:hover img {
  transform: scale(1.2);
}

.portfolio .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
}

.portfolio .asset-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: rgba(34, 34, 34, 0.6);
  box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
}

.portfolio .asset-wrap::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.portfolio .asset-wrap img {
  transition: all ease-in-out 0.3s;
}

.portfolio .asset-wrap .portfolio-info h4 {
  font-size: 20px;
  color: #fff;
  font-weight: 600;
}

.portfolio .asset-wrap .portfolio-info p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.portfolio .asset-wrap:hover::before {
  opacity: 1;
}

.portfolio .asset-wrap:hover img {
  transform: scale(1.2);
}

.portfolio .asset-wrap:hover .portfolio-info {
  opacity: 1;
}

.portfolio-details {
  padding-top: 0;
}

.portfolio-details .portfolio-details-slider img {
  width: 100%;
}

.portfolio-details .portfolio-details-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #34b7a7;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #34b7a7;
}

.portfolio-details .portfolio-info {
  padding: 30px;
  box-shadow: 0px 0 30px rgba(34, 34, 34, 0.08);
}

.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.portfolio-details .portfolio-info ul li+li {
  margin-top: 10px;
}

.portfolio-details .portfolio-description {
  padding-top: 30px;
}

.portfolio-details .portfolio-description h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
  padding: 0;
}

.project-btns{
  display: flex;
  justify-content: space-between;
}

.alert-primary{
  background: #4a69bb;
  color: #ffffff;
  border:none;
  font-size: 16px;
  border-radius: 0;

  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hidden{
  display: none;
}